<header>
    <nav>
        <ul>
            {% for item in menus.main.items %}
                <li class="nav-item">
                    <a href="{{ item.url }}" class="nav-link">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
