{% extends 'layouts/base.twig' %}

{% block content %}
    <h1>{{ 'error.404_title' | trans }}</h1>
    <p>{{ 'error.404_message' | trans }}</p>
    <a href="/">{{ 'error.return_home' | trans }}</a>
{% endblock %}
