{% extends 'layouts/base.twig' %}

{% block content %}
    {% app_block 'cart_before' %}
    <h1 class="container-element">{{ 'cart.title' | trans }}</h1>

    {% if cart.totalProducts > 0 %}
        <div class="container-element cart">
                {{ sitepack_cart() }}
        </div>
    {% else %}
        <div class="container-element cart-empty">
            <p>{{ 'cart.empty' | trans }}</p>
            <a href="/">{{ 'cart.continue_shopping' | trans }}</a>
        </div>
    {% endif %}
    {% app_block 'cart_after' %}
{% endblock %}
