{% extends 'layouts/base.twig' %}

{% block content %}
    {% app_block 'tag_before' %}
    <h1>{{ tag.title }}</h1>
    {% if tag.description %}
        <div class="tag-description">
            {{ tag.description }}
        </div>
    {% endif %}

    <div class="blog-posts">
        {% for article in tag.articles %}
            {% app_block 'tag_article_before' %}
            {% include 'snippets/blog-card.twig' with { article: article } %}
            {% app_block 'tag_article_after' %}
        {% else %}
            <p>{{ 'general.no_posts' | trans }}</p>
        {% endfor %}
    </div>
    {% app_block 'tag_after' %}
{% endblock %}
